<!DOCTYPE html>
<html data-ng-app="wikistats">
<head>
    <meta charset="UTF-8">
    <title>Wikistats</title>
    <script src="/vendor/angular.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
<body data-ng-controller="MainController">
    <div class="container-fluid fill">
        <div class="row fill">
            <div class="col-xs-2 fill-col" style="background: gray">
                </br>
                <p> <input type="text" size="24" ng-model="search" placeholder="Search...">
                </p>
                <ul data-ng-repeat="animal in groups">
                    <p>{{animal.name}}</p>
                    <li data-ng-repeat="breed in animal.breeds">
                        <span>{{breed}}</span>
                    </li>
                    </br>
                </ul>
            </div>
            <div class="col-xs-10 fill-col" style="background: white">
                <div class="row" style="height: 8%">
                    <div class="col-xs-12 fill-col" style="background: gray">
                        <form>
                        Views
                        <input type="checkbox" ng-model="views">
                        Edits
                        <input type="checkbox" ng-model="edits">
                        </form>   
                    </div>
                </div>
                <div class="row" style="height: 84%">
                    <div class="col-xs-12 fill-col">
                <p ng-show="search"> letade du efter {{ search }}?</p> <p ng-show="views">och vill se VIEWS?</p>  <p ng-show="edits">och vill se EDITS?</p>
                    </div>
                </div>
                <div class="row" style="height: 8%">
                    <div class="col-xs-12 fill-col" style="background: gray">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
