<!DOCTYPE html>
<html data-ng-app="wikistats">
<head>
    <meta charset="UTF-8">
    <title>Wikistats</title>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/highcharts.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-resource.min.js"></script>
    <script src="/vendor/angular-animate.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/vendor/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <!-- Wikimedia UI -->
    <link rel="stylesheet" href="https://wikimedia-ui.wmflabs.org/MW/mediawiki.min.css">
    <link rel="import" href="http://munmay.com/mwui/mw/elements.html">
</head>
<body data-ng-controller="MainController">
    <div class="container-fluid fill">
        <div class="row fill">
            <div class="col-xs-2 fill-col" style="background: #b8b8b8; ">
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div uib-dropdown is-open="status.isopen" class="btn-group">
                            <button id="language-dd-button" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                {{chosen.proj.proj}}<span class="caret" style="margin-left: 10px"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language-dd-button">
                                <li role="menuitem" data-ng-repeat="proj in projects">
                                    <a href="#" data-ng-click="changeChosen(proj, 'proj')">{{ proj.proj }}</a>
                                </li>
                            </ul>
                        </div>
                        <div uib-dropdown class="btn-group">
                            <button id="project-dd-button" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                {{chosen.lang.local}}<span class="caret" style="margin-left: 5px"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="project-dd-button">
                                <li role="menuitem" data-ng-repeat="lang in chosen.proj.languages">
                                    <a href="#" data-ng-click="changeChosen(lang, 'lang')">{{ lang.local }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <input type="text" style="width: 100%; border-radius: 0px" class="form-control" data-ng-model="search.str" typeahead-wait-ms="200" uib-typeahead="article for article in searchArticle($viewValue)" placeholder="Search for article..." typeahead-on-select="addNewArticle($item)">
                </div>
                <div class="row"><!-- TODO: CSS and pretty things up -->
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
                </br>
                <div>
                    <uib-accordion close-others="false">
                        <uib-accordion-group data-ng-repeat="group in groups">   <!-- TODO: Custom styling -->
                            <uib-accordion-heading>
                                {{group.name}} <!-- TODO: Add icons/buttons to every group (use icons from Wikimedia stylesheet) -->
                            </uib-accordion-heading>
                            <li data-ng-repeat="article in group.articles">
                                <span>{{article.name}}</span>
                            </li>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-xs-10 fill-col" style="background: #EEE">
                <div class="row" style="height: 12.5%">
                    <div class="col-xs-12 fill-col">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-bar-collapse" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Wikipagestats</a>
                            </div>

                            <div class="collapse navbar-collapse" id="top-bar-collapse" style="padding-right: 0">
                                <ul class="nav navbar-nav">
                                    <li ng-model="chart.selected" uib-btn-radio="'line'"><a>Line chart</a></li>
                                    <li ng-model="chart.selected" uib-btn-radio="'pie'"><a>Pie chart</a></li>
                                    <li ng-model="chart.selected" uib-btn-radio="'column'"><a>Bar chart</a></li> 
                                    <li uib-dropdown class="dropdown">
                                        <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export as <span class="caret"></span></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="min-width: 100%"> 
                                            <li><a href="#">SVG</a></li>
                                            <li><a href="#">PNG</a></li>
                                            <li><a href="#">JPG</a></li>
                                            <li><a href="#">CSV</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav" style="float:right;">
                                    <li uib-dropdown class="dropdown">
                                        <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Language <span class="caret"></span></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="min-width: 100%">
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Swedish</a></li>
                                            <li><a href="#">French</a></li>
                                            <li><a href="#">Russian</a></li>
                                            <li><a href="#">Mandarin</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row" style="height: 70%;"> <!-- CHART GOES HERE -->
                    <div class="col-xs-12 fill-col">
                        <div id="chartdiv" style="border-radius: 5px;box-shadow: 0px 0px 8px 2px rgba(120,120,120,1); padding: 15px; height: 100%; width: 100%; background-color: white">
                           <highchart data-chart-name="myChart" data-chart-type="line" style="height: 95%; width: 95%; position: absolute"/>
                        </div>
                    </div>
                </div>
                <div class="row bottom-col" style="position: absolute; bottom: 0px; width: 100%">
                    <div class="col-xs-12 fill-col bottom-bar">
                        </br>
                        <div>
                            <div>
                                <div class="col-md-6">
                                    Start Date
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" data-ng-model="dateFrom" is-open="popupFrom.opened" datepicker-options="dateOptions" data-ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-ng-click="openFrom()"><i class="glyphicon glyphicon-calendar"></i></button> <!-- TODO: Get a calendar icon -->
                                        </span>
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    End Date
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup data-ng-model="dateTo" is-open="popupTo.opened" datepicker-options="dateOptions" data-ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-ng-click="openTo()"><i class="glyphicon glyphicon-calendar"></i></button> <!-- TODO: Get a calendar icon -->
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
